{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{product.name}}</h1>
    < <img src="{{ product.mainPicture }}" alt="Text alt" class="img-fluid">
    <div class="card-body">
        <h4 class="card-title">{{ product.name }}</h4>
        <p class="card-text">{{ product.description }}</p>
        <a href="#" class="btn btn-primary btn-sm">Détail</a>
        <a href="#" class="btn btn-success btn-sm">Ajouter</a>
        <p class="card-text">{{  product.price / 100}} €</p>
        <span class="badge bg-info badge-info" >{{ product.category.name }}</span>
    </div>
{% endblock %}
{% block title %}{{product.name}}{% endblock %}